/* Technical Icon Styling */
.tech-icon-container {
    color: #0f3460;
    margin-bottom: 10px;
}

/* Console-like Bio Styling */
.bio-tech {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: #a0a0c0;
    line-height: 1.6;
    background-color: #10101a;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #0f3460;
}

/* New Project Button Color */
.projects {
    background-color: #3e0c57;
}
